
.paginationBttns {
    width: 40%;
    height: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
}

  
  .paginationBttns a {

    padding: 5px;
    margin:8px;
    border-radius: 5px;
    cursor: pointer
  }


  .paginationActive {
    background-color: #3b82f6;
    color: white;
    border-radius: 5px;
  }
  

.Prev {
    padding: 5px;
    margin:8px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #00889a;
    color: white;
    border-radius: 5px;
  }

.Next{
    background-color: #00889a;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin:8px;
    border-radius: 5px;
    cursor: pointer
  }